/*
author:sid;
*/

.table th, .table td {
  text-align: center;
  height:38px;
}
.table-area{
  padding-top: 50px;
  border:1px;
  width:1200px;
  margin: 0 auto;
}
.table-content{
  width: 500px;
}
.headline{
  padding-top: 70px;
  height: 100vh;
  background: #42B0CE;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}
.logo{
  font-family: "Shadows Into Light",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 75px;
  text-shadow: 2px 2px 4px #000000;
}
.logo .myLogo {
  width: 760px;
  height: 540px;
  margin: 200px auto 0px;
  overflow: hidden;
  background: #42B0CE url('../img/work2.png') center 0 no-repeat;
  background-size: 100%;
}
.all-input{
  padding-top: 10px;
  padding-bottom: 10px;
}
.add-order-input{
  width: 120px;
  padding-left: 20px;
  float:left;
}

.count-tab{
  position: fixed;
  top: 40%;
  width: 10px;
  height: 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #157145;
  color: white;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  transition: width 1s, height 1s;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  z-index: 100;
  overflow: hidden;
}
.count-tab:hover{
  width: 150px;
  height: 170px;
}
.count-info p{
  font-size: 10px;
}
.count-info span{
  font-size: 22px;
}
.count-info{
  margin-top: 20px;
  margin-left: 30px;
  overflow: hidden;
}
